{% extends 'cardapio/base.html' %}
{% load static %}

{% block content %}
    <section class="menu-page">
      <h1>Nosso Cardápio</h1>

      {% for prato_id, info in pratos.items %}
      <div class="products">
        <div class="product">
          <img src="https://via.placeholder.com/80" alt="Bruschetta">
          <div class="product-info">
            <h3>{{ info.nome }}</h3>
            <p class="desc">{{ info.descricao }}</p>
            <p class="price">R$ {{ info.preco|floatformat:2 }}</p>
          </div>
        </div>
      </div>  
      {% endfor %}

    </section>
{% endblock %}

</body>
</html>
