{% extends 'cardapio/base.html' %}
{% load static %}

{% block content %}
    <section class="menu-page">
      <h1>Nosso Cardápio</h1>

      {% if produtos %}
      {% for produto in produtos %}
      <div class="products">
        <div class="product">
          {% if produto.imagem == "" or produto.imagem == null %}
          <img src="{% static 'assets/imagens/cardapio/not-found.png' %}" alt="Bruschetta">
          {% else %}
          <img src="{{ produto.imagem.url }}" alt="Bruschetta">
          {% endif %}
          <div class="product-info">
            <h3>{{ produto.nome }}</h3>
            <p class="desc">{{ produto.descricao }}</p>
            <p class="price">R$ {{ produto.preco }}</p>
          </div>
        </div>
      </div>  
      {% endfor %}
      {% else %}
      {% endif %}

    </section>
{% endblock %}

</body>
</html>
